.CartItemCard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
    border-radius: 45%;
    background-color:"#563D7C";
    
}
.CartItemCard>img{
width: 4rem;
}
.CartItemCard>p{
    max-width:5rem;
    contain: content;
}
.CartItemCard>button{
    max-width:4rem;
    contain: content;
}