/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;

}
.showCase{
  min-height: 84.5vh
}
.Footercontainer{
  min-height: 20vh
}

body{
  background: radial-gradient(#e5e5e5,#ffff,#e5e5e5)
}



@media screen and (min-width:760px){
  .abouttitile>h1{
    font-size:8rem;
    }
}

.form{
background-color: #563d7c5a;

}

